@model IEnumerable<DoAnWebTruyenTranh.Models.Truyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @item.Name
                </div>
                <div class="panel-body">
                    <a href="@Url.Action("XemTruyen","Home", new {id = item.IDManga})" title="Xem Truyen" class="links">
                        <img alt="Xem Truyen" src="/@item.Thumbnail" />
                    </a>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @Html.ActionLink("Sửa", "SuaTruyen", new { id = item.IDManga }, new { @class = "btn btn-sucess" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
